<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="tests/bootstrap-integration.php"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./includes</directory>
        </include>
        <exclude>
            <directory>./includes/Admin/Views</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="build/logs/clover-integration.xml"/>
            <html outputDirectory="build/coverage-integration"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

    <php>
        <const name="NTE_TESTING" value="true"/>
        <const name="VE_INTEGRATION_TESTING" value="true"/>
        <const name="WP_DEBUG" value="true"/>
    </php>
</phpunit>
